// https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_clearfix.scss
@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

@mixin media($point) {
  @media (max-width: $point) { @content; }
}
