@font-face {
  font-family: "VT323";
  src: url("../assets/VT323-Regular.ttf"); }
@font-face {
  font-family: "neristhin";
  src: url("../assets/Neris-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #111111;
  font-family: 'VT323';
  color: #fff; }

h1 {
  font-size: 2em; }

.ub-header {
  text-align: center;
  padding: 10px 0;
  background: #111111;
  margin: 30px; }

.container {
  width: 1230px;
  margin: 0 auto; }

.marquee {
  position: relative;
  height: 35px;
  overflow: hidden;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  background: #111111;
  font-size: 1.5em;
  white-space: nowrap; }

#breakout {
  border: 2px solid black;
  width: 800px;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
  float: left;
  cursor: pointer; }

.leaderboard {
  display: inline-block;
  table-layout: fixed;
  width: 400px;
  font-size: 1em;
  background: #111111; }
  .leaderboard th, .leaderboard td {
    text-align: left;
    color: white;
    width: 340px;
    font-family: 'VT323';
    font-size: 1.2em; }
  .leaderboard tr {
    width: 100%; }
  .leaderboard td {
    border-top: 1px solid #ccc;
    padding: 5px 0; }
  .leaderboard th:first-child, .leaderboard td:first-child {
    width: 75px; }

#ui-id-2.ui-dialog-title {
  width: 100%;
  font-size: 2em;
  text-align: center; }

.no-close .ui-dialog-titlebar-close {
  display: none; }

.game-over-dialog h1 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  text-align: center; }

.name {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0.25em; }

.ui-widget input {
  width: 100%;
  border-radius: 4px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.5em; }

.top-score {
  text-transform: uppercase; }

.lhl-header {
  background-color: #ffffff;
  height: auto;
  clear: both;
  box-shadow: inset 0px -46px 25px -49px black;
  width: 100%; }
  .lhl-header:after {
    content: "";
    display: table;
    clear: both; }
  .lhl-header .lhl-header-container {
    margin: 0 auto;
    width: 60%; }
    .lhl-header .lhl-header-container:after {
      content: "";
      display: table;
      clear: both; }
    @media (max-width: 1560px) {
      .lhl-header .lhl-header-container {
        width: 100%; } }
    .lhl-header .lhl-header-container .lhl-logo {
      display: inline-block;
      float: left; }
      .lhl-header .lhl-header-container .lhl-logo img {
        width: 170px;
        margin: 20px; }
      @media (max-width: 650px) {
        .lhl-header .lhl-header-container .lhl-logo {
          float: none;
          width: 100%;
          text-align: center; } }
    .lhl-header .lhl-header-container p {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 16px;
      font-family: "neristhin", Helvetica, Roboto, Arial, sans-serif;
      color: #464646;
      text-align: left;
      float: left; }
      .lhl-header .lhl-header-container p:first-of-type {
        margin-top: 20px; }
      .lhl-header .lhl-header-container p:last-of-type {
        margin-bottom: 20px; }
      @media (max-width: 1560px) {
        .lhl-header .lhl-header-container p {
          width: 60%; } }
      @media (max-width: 650px) {
        .lhl-header .lhl-header-container p {
          width: 90%;
          text-align: center; } }

/*# sourceMappingURL=breakout.css.map */
