@font-face {
  font-family: "VT323";
  src: url("../assets/VT323-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111111;
  font-family: 'VT323';
  color: #fff;
}

#header {
  text-align: center;
  padding: 10px 0;
  background: #111111;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

#high-scores {
  position: relative;
  height: 35px;
  overflow: hidden;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background: #111111;
  font-size: 1.5em;
  white-space: nowrap;
}

#breakout {
  border: 2px solid black;
  width: 800px;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
  float: left;
  cursor: pointer;
}

#leaderboard {
}

table {
  display: inline-block;
  table-layout: fixed;
  width: 400px;
  font-size: 1em;
  background: #111111;
}

tr {
  width: 100%;
}

th, td {
  text-align: left;
  color: white;
  width: 340px;
  font-family: 'VT323';
  font-size: 1.2em;
}

td {
  border-top: 1px solid #ccc;
  padding: 5px 0;
}

th:first-child, td:first-child {
  width: 75px;
}

h1 {
  font-size: 2em;
}

#ui-id-2.ui-dialog-title {
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.game-over-dialog h1 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.name {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0.25em;
}

.ui-widget input {
  width: 100%;
  border-radius: 4px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.5em;
}

.top-score {
  text-transform: uppercase;
}
